<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <style>
        footer{
            position:fixed;
            bottom:0;
            left:0;
            width:100%;
            background-color:grey;
            color:white;
            margin-top:5px;
        }
    </style>
</head>
<body class = "text-center">

<h2 class = "m-5">Welcome to my first Django basic project..!</h2>
<div>
    <a href="accounts/register"><button class = "btn btn-primary btn-lg m-4">Register</button></a>
    <a href="accounts/login"><button class = "btn btn-primary btn-lg m-4">Login</button></a>
</div>

<footer>
    <p>Done By Rishi Raj G</p>
</footer>
</body>
</html>